<div class="login-box">
  <h2>Login</h2>
  {{#if messages.error}}
    <div class="erro">
      {{messages.error}}
    </div>
  {{/if}}
  <form method="POST" action="/login">
    <div class="user-box">
      <input type="text" name="email" required>
      <label>E-mail</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required>
      <label>Senha</label>
    </div>
    <div class="user-box">
      <a href="/register" style="text-decoration: underline;color:#fff;letter-spacing:3px">Não tenho conta!</a>
    </div>
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Logar
    </button>
  </form>
</div>